// Mixins reutilizables.
// RESPONSIVE — Mobile First
@mixin desde-movil-grande {
    @media (min-width: $bp-sm) { @content; }   // 576px
}
@mixin desde-tablet {
    @media (min-width: $bp-md) { @content; }   // 768px
}
@mixin desde-tablet-h {
    @media (min-width: $bp-lg) { @content; }   // 1024px
}
@mixin desde-desktop {
    @media (min-width: $bp-xl) { @content; }   // 1200px 
}
@mixin desde-desktop-xl {
    @media (min-width: 1440px) { @content; }
}
// FLEX
@mixin flex-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-entre {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// TRUNCAR texto
@mixin truncar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
// IMAGEN cover
@mixin imagen-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}